.wrapper {
  width: 100%;
  max-width: 70rem;
  padding: 0 1rem;
  margin: 2rem auto 0;

  display: grid;
  align-items: start;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5% !important;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 9.25rem;
}
